#landingPage {
	margin-top: 100px;
	font-family: 'Questrial';
	
	#header {
		padding-bottom: 50px;
		min-height: 250px;
		
		#trendingCta {
			.chartImg {
				width: 100px;
			}
		}
		
		#randomCta {
			.randomImg {
				width: 100px;
			}
		}
	}
	
	
	#listing {
		background-color: #f7f7f7;
	}
	#search {
		
	}
	
	#topPost {
		margin-top: 20px;
		
		.topLabel {
			color: #BFD5DC;
		}
		.trophy {
			padding: 23px;
			background-color: #BFD5DC;
			border-radius: 50%;
			width:125px;
			height: 125px;
			margin: 20px;
			.trophyImg {
				width: 80px;	
			}
		}
	}
}

#posts {
	#post {
		background-color: #edfbff;
		font-family: 'Questrial';
		padding: 10px 5px;
		margin: 5px 0;
	}
	
	img {
		width: 70px;
	}
}