nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation           
						span.icon-bar          
						span.icon-bar           
						span.icon-bar       
					a.navbar-brand(ui-sref="/") Hapi App
					
				#navbar.navbar-collapse.collapse
					
							
#landingPage.container-fluid
	.container
		section.row#header
			.col-xs-12
				.text-center
					h1 Welcome
					h2 To Your Hapi Place
					form
						.form-group
							input.form-control.pull-left(type='text', placeholder='Search for Something' ng-model="vm.searchTerm")         
							button.btn.btn-success.pull-right(type='submit' ng-show="vm.searchTerm" ng-click="vm.doSearch(vm.searchTerm)") Search
	.container-fluid
		section#listing.row.text-center 
			h4 {{vm.socketMessage}}				
	.container-fluid
		section.text-center
			h1 {{vm.searchResponse.data}}
				
			